/*.ui-widget-overlay {
    z-index: auto !important;
}
*/
#crumina_portfolio_gallery .inside {
    margin: 0;
    padding: 0
}

#crumina_portfolio_gallery .inside .add_my_product_images {
    padding: 9px
}

#crumina_portfolio_gallery .inside #my_product_images_container {
    padding: 0 0 0 9px
}

#crumina_portfolio_gallery .inside #my_product_images_container ul {
    *zoom: 1;
    margin: 0;
    padding: 0
}

#crumina_portfolio_gallery .inside #my_product_images_container ul:before, #crumina_portfolio_gallery .inside #my_product_images_container ul:after {
    content: " ";
    display: table
}

#crumina_portfolio_gallery .inside #my_product_images_container ul:after {
    clear: both
}

#crumina_portfolio_gallery .inside #my_product_images_container ul li.image, #crumina_portfolio_gallery .inside #my_product_images_container ul li.add, #crumina_portfolio_gallery .inside #my_product_images_container ul li.wc-metabox-sortable-placeholder {
    width: 80px;
    text-align: center;
    float: left;
    cursor: move;
    border: 1px solid #d5d5d5;
    margin: 9px 9px 0 0;
    background: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#crumina_portfolio_gallery .inside #my_product_images_container ul li.image img {
    width: 80px;
    height: 80px;
    cursor: move;
}


#crumina_portfolio_gallery .inside #my_product_images_container ul li.wc-metabox-sortable-placeholder {
    border: 3px dashed #ddd;
    position: relative
}

#crumina_portfolio_gallery .inside #my_product_images_container ul ul.actions li a.tips {
    cursor: pointer
}
#crumina_portfolio_gallery .inside #my_product_images_container ul li:hover ul.actions {
    display: block
}